<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorites</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" th:href="@{/harbourlist}">Harbour Search</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <form th:action="@{/favoriteharbours}" method="get">
          <button type="submit" class="btn btn-link nav-link">Favorites</button>
        </form>
      </li>
      <li class="nav-item">
        <form th:action="@{/newharbour}" method="get">
            <button type="submit" class="btn btn-link nav-link"sec:authorize="hasAuthority('ADMIN')">Add New Harbour</button>
        </form>
      </li>
    </ul>
  </div>
  <span class="navbar-text mr-4">
    <span sec:authentication="name"></span>
</span>
  <form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out" class="btn btn-sm btn-danger nav-link"/>
  </form>
</nav>

<div class="container mt-3">
    <h1>Favorites</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="harbour : ${favoriteharbours}">
                <td th:text="${harbour.name}"></td>
                <td>
                    <span th:if="${harbour.harbourType != null}" th:text="${harbour.harbourType.harbourType}"></span>
                    <span th:if="${harbour.harbourType == null}">Unknown</span>
                </td>
                <td>
                    <a th:href="@{/detailharbourpage/{harbourid}(harbourid=${harbour.harbourid})}" class="btn btn-info btn-sm">Details</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
